.form-section {
  @include flex-column;
  align-items: center;
  border-radius: 15px;
  padding: 16px 228px;
  background-color: white;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  position: relative;
  &.besar {
    padding: 16px 95px;
    .line {
      width: 80%;
    }
    .row {
      padding-right: 200px;
    }
  }
  &.grafik {
    @include flex-row;
    justify-content: space-between;
    padding: 87px 61px;
    .grafik {
      max-width: 526px;
    }
  }
  &.full {
    padding: 16px 0;
    .line {
      margin-bottom: 5px;
    }
  }
  &.di-tab {
    padding: 32px 331px 21px 65px;
    .row {
      .pembungkus-input {
        width: 70%;
      }
    }
  }
  .judul {
    @include font1;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 0;
  }
  .line {
    width: 100%;
    height: 2px;
    background-color: #d8d8d8;
    margin-bottom: 44px;
  }
  .row {
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 14px;
    label {
      @include font2;
      font-weight: bold;
      font-size: 18px;
    }
    .pembungkus-input {
      width: 74%;
      position: relative;
      &.flex {
        @include flex-column;
        flex-wrap: wrap;
        height: 47px;
      }
      .textbox {
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        padding: 12px 18px;
        width: 100%;
        &.ada-overlay-kiri {
          padding-left: 110px;
        }
      }
      .number {
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        padding: 12px 18px;
        width: 40%;
      }
      .overlay-kiri {
        @include flex-row;
        @include font1;
        align-items: center;
        justify-content: center;
        color: white;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 19%;
        background-color: #047a9f;
        border-radius: 5px;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
      }
      .overlay-kanan {
        @include flex-row;
        @include font1;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 15px;
        width: 20px;
        top: 0;
        bottom: 0;
        transform: rotate(90deg);
        .teks {
          color: grey;
        }
      }
      .hint {
        @include font2;
        color: rgba(87, 87, 87, 0.47);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
      }
      .text-area {
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        padding: 12px 18px;
        width: 100%;
      }
    }
  }
  .column {
    @include flex-column;
    width: 74%;
  }
  .trash {
    position: absolute;
    top: 25px;
    left: 30px;
  }
  .tombol {
    position: absolute;
    bottom: 35px;
    right: 65px;
    padding: 8px 25px;
    background-color: #ee215a;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: white;
    text-decoration: none;
    &.hapus {
      right: 190px;
      background-color: #24a3d6;
    }
  }
  .button-tambah {
    align-self: flex-start;
    background-color: #047a9f;
    padding: 13.26px 16.17px;
    text-decoration: none;
    color: white;
    margin: 0 0 38.28px 11px;
  }
  .table {
    width: 95%;
    tr {
      height: 63px;
      border-bottom: 1px grey solid;
      &.header {
        height: 38px;
      }
      td,
      th {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        .tombol-kecil {
          @include flex-row;
          justify-content: center;
          align-items: center;
          background-color: #58b9e9;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 40px;
          color: white;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          padding: 5px 0;
        }
      }
      th {
        text-align: left;
      }
    }
    &-besar {
      width: 83%;
      tr {
        height: 63px;
        &.header {
          height: 38px;
        }
        &:nth-child(2n) {
          td {
            background-color: #d5e2f3;
          }
        }
        td,
        th {
          //   border: 1px solid black;
          .tombol-kecil {
            display: inline;
            background-color: #ee215a;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            color: white;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            padding: 11px 17px;
          }
        }
        th {
          background-color: #007bff;
          color: white;
        }
        td {
          background-color: #aacfff;
        }
        .center {
          text-align: center;
        }
      }
    }
  }
}
